*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    
}

#header{
    height: 46.5px;
    background-color: black;
}

#nav{
    
}
#nav li{
display: inline-block;
position: relative;
padding: 0 24px;
}
#nav>li>a{
    text-transform: uppercase;
    
    color: #fff;
    line-height: 46.5px;
    
}
#nav li a{
text-decoration: none;
font-size: 15px;
}
#nav .sub-nav{
position: absolute;
background-color: #fff;
}
#nav .sub-nav li{
    display: block;
    padding: 8px 16px;
}
#nav .sub-nav a{
    color: black;

}

#slider{
    min-height: 800px;
    background-color: black;
}

#content{
    
}

#footer{
    
}
